.filters-container {
  display: flex;
  align-items: center;
  font-size: 1.4rem;
  border-bottom: 1px solid #888;

  .filter-label {
    padding: 1.5rem;
    margin-right: 3rem;
  }

  .tabs-container {
    display: flex;
    .tab-container {
      display: flex;
      gap: 2rem;
      padding: 1.5rem;
      border: 1px solid #888;
      border-bottom-width: 0;
      cursor: pointer;
      user-select: none;

      &.expanded {
        background-color: #000;
        color: #fff;
      }

      &:last-child {
        border-left-width: 0;
        margin-right: 3rem;
      }
    }
  }

  .reset-filter {
    display: flex;
    gap: 1rem;
    padding: 1.5rem;
    cursor: pointer;
  }

  .items-count {
    display: none;
    align-items: center;
    gap: 1rem;
    margin-left: auto;

    .filter-icon {
      padding: 0.8rem 1.2rem;
      border: 1px solid #000;
      border-bottom-width: 0;
      border-right-width: 0;
    }
  }

  @media (max-width: 600px) {
    .filter-label {
      padding: 1rem;
    }
    .reset-filter {
      display: none;
    }
    .tabs-container {
      display: none;
    }
    .items-count {
      display: flex;
    }
  }
}

.tab-panel {
  background-color: #000;
  color: #fff;
  padding: 2rem;
  min-height: 5rem;

  .view-options-container {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    .view-option {
      display: flex;
      align-items: center;
      gap: 2rem;
      padding: 1rem;
      flex-basis: 35%;
      // input[type="checkbox"] {
      //   background-color: red;
      //   margin: 0;
      //   border-radius: 0;
      // }

      .label {
        margin-top: 6px;
        text-transform: capitalize;
        cursor: pointer;
        user-select: none;
      }

      input[type="checkbox"] {
        position: relative;
        cursor: pointer;
      }
      input[type="checkbox"]:before {
        content: "";
        display: block;
        position: absolute;
        width: 20px;
        height: 20px;
        top: 0;
        left: 0;
        background-color: white;
      }
      input[type="checkbox"]:checked:before {
        //TODO" have to remove this hardcoded logic
        background-color: #007859;
      }

      input[type="checkbox"]:checked:after {
        content: "";
        display: block;
        width: 5px;
        height: 10px;
        border: solid black;
        border-width: 0 2px 2px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
        position: absolute;
        top: 2px;
        left: 6px;
      }
    }
  }

  .btn {
    display: inline-flex;
    margin: 1rem;
    padding: 1rem 3rem;
    border: 1px solid #ccc;
    cursor: pointer;
    user-select: none;

    &.disabled {
      pointer-events: none;
      opacity: 0.4;
    }
  }
}

@media (max-width: 600px) {
  .tab-panel {
    display: none;
  }
}
