$primary-color: #000;
$white: #fff;

.tab-header {
  display: flex;
  gap: 2rem;
  padding: 1rem 2rem;
  border: 1px solid $primary-color;
  border-bottom-width: 0;
  border-right-width: 0;
  cursor: pointer;
  user-select: none;
  &:last-child {
    border-right-width: 1px;
  }

  &.dropdown-dark {
    background-color: $primary-color;
    color: $white;
    border-color: $white;
  }
}

// .dd-wrapper {
//   position: relative;
//   font-size: 12px;

//   .dd-trigger {
//     display: flex;
//     align-items: center;
//     justify-content: space-around;
//     position: relative;
//     border: 1px solid $primary-color;
//     background-color: $white;
//     cursor: pointer;

//     .dd-selected-value {
//       font-size: 20px;
//       // padding: 22px 0px 22px 18px;
//     }
//   }
// }

.dropdown-dark {
  .dd-wrapper {
    .dd-trigger {
      background-color: $primary-color !important;
      color: $white;
    }
  }
}

// .expanded-border {
//   border-bottom: 1px solid $primary-color;
// }

.icon-stack-fund {
  font-size: 20px;
  color: $white;
  align-self: center;
}
