$primary-color: #000;
$white: #fff;

.dropdown-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 20px;

  .filter-label {
    margin-left: 10px;
    margin-right: 34px;
    cursor: pointer;
  }
}

.dd-wrapper {
  position: relative;
  width: 337px;
  font-size: 12px;

  .dd-trigger {
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    border: 1px solid $primary-color;
    background-color: $white;
    cursor: pointer;

    .dd-selected-value {
      font-size: 20px;
      padding: 22px 0px 22px 18px;
    }
  }
}

.dropdown-dark {
  .dd-wrapper {
    .dd-trigger {
      background-color: $primary-color !important;
      color: $white;
    }
  }
}

.expanded-border {
  border-bottom: 1px solid $primary-color;
}

.icon-stack-fund {
  font-size: 20px;
  color: $white;
  align-self: center;
}
